<html>
  <head>
    <style>
       table, th, td {
          border: 1px solid black;
       }
    </style>
 </head>
 <body>
    <h3>Current Temperature Logs</h3>
    <table>
      <tr>
        <th>ID</th>
        <th>Timestamp</th>
        <th>Temperature</th>
        <th>Duration</th>
      </tr>
      {% for item in results %}
      <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.timestamp }}</td>
          <td>{{ item.temperature }}</td>
          <td>{{ item.duration }}</td>
      </tr>
      {%  endfor %}
    </table>
  </body>
</html>
